<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205767455250-17rkki2bvn09uij57ja2pm3s5n9pjcuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205767455250-17rkki2bvn09uij57ja2pm3s5n9pjcuu</string>
	<key>API_KEY</key>
	<string>AIzaSyBzKLcPkxdpYx5LolajhAKG1pSYJsN4wj8</string>
	<key>GCM_SENDER_ID</key>
	<string>205767455250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dataSetup</string>
	<key>PROJECT_ID</key>
	<string>absshuffler</string>
	<key>STORAGE_BUCKET</key>
	<string>absshuffler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:205767455250:ios:ec615cb3c5c6039a105ecb</string>
	<key>DATABASE_URL</key>
	<string>https://absshuffler.firebaseio.com</string>
</dict>
</plist>
